PUBLIC_BASE_URL=https://receiptlayer.dataweaveai.com
FOLLOWUP_INBOX_EMAIL=joseph@dataweaveai.com
FOLLOWUP_FROM_EMAIL=ReceiptLayer <noreply@dataweaveai.com>
RESEND_API_KEY=
RECEIPT_SIGNING_KEY=replace_this_secret
CORS_ALLOW_ORIGINS=*

CHECKOUT_LINK_STARTER=https://buy.stripe.com/cNidR9bpT0284Or8nf3Je04
CHECKOUT_LINK_PRO=https://buy.stripe.com/cNidR9bpT0284Or8nf3Je04
CHECKOUT_LINK_SCALE=https://buy.stripe.com/cNidR9bpT0284Or8nf3Je04
CHECKOUT_LINK_DFY=https://buy.stripe.com/cNi14n0Lf8yEep1dHz3Je05

API_RATE_WINDOW_SECONDS=60
LEAD_RATE_LIMIT_PER_MINUTE=15
RECEIPT_RATE_LIMIT_PER_MINUTE=120
